@media screen and (min-width: 1280px)

  $gutter = 32px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter * .75)
  $margin-basic = ($gutter * 1.5)
  $margin-mid = ($gutter * 2)
  $margin-large = ($gutter * 3)

  $font-size-basic = 18px
  $font-size-extra = 56px
  $font-size-large = 27px
  $font-size-mid = 21px
  $font-size-small = 18px
  $font-size-tiny = 11px

  grid-maker(96%, $gutter, l)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  .wp-caption
    font-size: $font-size-tiny

  // ******************************************************

  // HEADER

  #logo-holder
    padding-left: $margin-tiny
    padding-right: $margin-tiny

  #logo
    transform: translateY(-($margin-basic))

  // ******************************************************

  // MASONRY

  .masonry-item
    padding: 0 ($gutter / 2) $margin-basic
