$border-style = 1px solid $color-black

.border-top
  border-top: $border-style

#postit
  position: absolute
  z-index: -1
  width: 150px
  transform: rotate(-10deg)

.dot
  background-color: $color-black

#postit-dot
  position: absolute
  top: -10px
  left: 45%

.hover-dot
  .dot
    position: absolute
    top: 50%
    left: 50%
    visibility: hidden
    pointer-events: none
  &.show-dot
    .dot
      visibility: visible

// ******************************************************

// HEADER

#main-nav-list-row
  justify-content: space-between

// ******************************************************

// FRONT PAGE

.frontpage-section-label,
.exhibitions-section-label
  width: 100%
  border-bottom: $border-style
  padding-bottom: $margin-tiny
  text-transform: uppercase
