$border-style = 1px solid $color-black

.border-top
  border-top: $border-style

.frontpage-section-label
  div
    width: 100%
    border-bottom: $border-style
    padding-bottom: $margin-tiny

#postit
  position: absolute
  z-index: -1
  width: 150px
  transform: rotate(-10deg)

#postit-dot
  position: absolute
  top: -10px
  left: 45%
  background-color: $color-black
