
// ******************************************************

// HEADER

#main-nav
  ul.grid-row
    justify-content: normal

// ******************************************************

// FRONT PAGE

.frontpage-section-label-holder
  border-right: $border-style
  text-align: right

.frontpage-section-label
  display: inline-block
  border-bottom: none
  padding-bottom: 0
