@media screen and (min-width: 840px)

  $gutter = 18px

  $margin-micro = ($gutter / 3)
  $margin-tiny = ($gutter / 2)
  $margin-small = ($gutter * .75)
  $margin-basic = ($gutter * 1.5)
  $margin-mid = ($gutter * 2)
  $margin-large = ($gutter * 3)

  $font-size-basic = 14px
  $font-size-extra = 48px
  $font-size-large = 21px
  $font-size-mid = 16px
  $font-size-small = 13px
  $font-size-tiny = 12px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large)

  grid-maker( 96%, $gutter, m)

  font-sizes($font-size-basic, $font-size-extra, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  .mobile-only
    display: none !important

  .desktop-only
    display: initial !important

  // ******************************************************

  // HEADER

  .logo-svg 
    margin: 0

  #main-nav-list-row
    justify-content: flex-start

  .wp-caption
    font-size: $font-size-tiny

  // ******************************************************

  // FRONT PAGE

  .frontpage-section-label-holder
    border-right: $border-style
    text-align: right

  .frontpage-section-label
    display: inline-block
    border-bottom: none
    padding-bottom: 0

  // ******************************************************

  // ARTISTS 

  #artists-list 
    text-align: left

  // ******************************************************

  // MASONRY

  .masonry-item
    width: 50%
    padding: 0 ($gutter / 2) $margin-basic

  #logo-holder.masonry-item
    width: 50%

  // ******************************************************

  // BLOG

  #blog-info
    order: 1

  #blog-posts
    order: 2
